.contentList-page{
    @apply h-screen  text-xs text-slate-700;
    display: grid;
    grid-template: "list content" auto / 220px auto;
    .list{
        @apply border-r overflow-y-auto;
        grid-area: list;
        a {
            
            @apply truncate py-1 px-1 cursor-pointer flex items-center gap-1 border-b mx-2 my-1;
            &.active{
                @apply bg-blue-700 text-white rounded-md;
            }
        }
    }
    .content{
        grid-area: content;
    }
}