body{
    @apply w-screen h-screen;
}

*{
    opacity: 0.995;
}


// 可以拖动
.drag{
    -webkit-app-region: drag;
}

// 不可以拖动的组件
.no-drag,
input,
select,
textarea,
option{
    -webkit-app-region: none;
}

.contextMenu{
    @apply rounded-md;
    button {
        @apply bg-[#2c3e50] text-white px-5 py-1 hover:bg-[#34495e];
    }
}
