.category-page{
    @apply w-screen h-screen;
    display: grid;
    grid-template:
        "categories content" auto
        "nav content" 30px/100px auto;
    

    .categories{
        @apply border-r bg-slate-100 text-xs text-slate-700 overflow-y-auto;
        grid-area: categories;
        // link 编译完是 a 标题
        a{
            @apply p-1 py-1 truncate cursor-pointer block;
            &.active{
                // mx-1 外边距
                @apply bg-blue-700 text-white mx-1 rounded-md;
            }
        }
       
    }

    .nav {
        @apply border-t border-r bg-slate-100 flex justify-center items-center gap-2;
        grid-area: nav;
    }

    .content {
        grid-area: content;
    }
}