.setting{
    @apply h-screen w-screen;
    display: grid;
    grid-template: "menu content"  auto / 130px auto;
    .menu{
        @apply border-r;
        grid-area: menu;
    }
    .content{
        grid-area: content;
    }
}