.content-page{
    @apply h-screen;
    display: grid;
    grid-template-rows: 50px 1fr 40px;
    input{
        @apply text-lg outline-none bg-slate-50 p-3;
    }

    textarea{
        @apply border-t pt-5 outline-none text-sm opacity-90 bg-slate-50 p-3;
    }
}