.content-page{
    @apply h-screen  text-xs text-slate-700;
    display: grid;
    grid-template: "list content" auto / 150px auto;
    .list{
        @apply bg-slate-50 border-r;
        grid-area: list;
    }
    .content{
        grid-area: content;
    }
}