.main{
    @apply bg-slate-50 px-3 rounded-bl-lg rounded-br-lg -mt-[7px] pb-2;
    div  {
        @apply text-slate-700 truncate px-2 py-1 rounded-lg;
        &.active {
            @apply bg-orange-400 text-white;
        }
    }
}

