.content-page{
    @apply h-screen;
    display: grid;
    grid-template-rows: 50px 30px 1fr;
    @mixin common {
        @apply outline-none bg-slate-50;
    }
    input{
        @include common();
        @apply text-lg p-3;
    }

    select{
        @include common();
        @apply w-full;
    }

    // code-editor{
    //     @include common();
    //     @apply border-t pt-5  text-sm opacity-90 p-3;
    // }
}